<template name="leftPanel">
    <div class="left-panel">

        <div class="left-panel-top">
            <i class="user icon"></i>
            {{> loginButtons }}
        </div>

        <!--Profile-->
        {{#if currentUser}}
        <div class="ui fluid centered card" style="max-width: 25em;">
            <div class="content">
                <div class="header">
                    {{self.name}}
                </div>
                <div class="meta">
                    <i class="{{self.gender}} icon {{self.status}}"></i> {{self.displayMessage}}
                </div>
            </div>
            <div class="image">
                <img src="{{self.image}}">
            </div>
            <div class="content">
                <h5 class="ui horizontal divider">
                    Interests
                </h5>

                <div class="description">
                    <div class="ui horizontal bulleted list">
                        {{#each self.interests}}
                            <a class="item">{{.}}</a>
                        {{/each}}
                    </div>
                </div>
            </div>

            <div class="extra content">
                <div class="ui two buttons">
                    <div class="btn-edit ui green button"><i class="edit icon"></i>Edit Profile</div>
                    <div class="btn-delete ui red button"><i class="trash icon"></i>Delete</div>
                </div>
            </div>
        </div>
        {{else}}
            <div class="ui icon message">
                <i class="heart icon pink"></i>
                <div class="content">
                    <div class="header">
                        Welcome to SMUching!
                    </div>
                    <p>Sign in to view other profiles and start matching!</p>
                </div>
            </div>
        {{/if}}

    </div>
    {{#if currentUser}}
        {{>profileModal}}
    {{/if}}

</template>