<template name="leftPanel">
    <div class="left-panel">
        <!--Profile-->
        <div class="ui fluid centered card" style="max-width: 25em;">
            <div class="content">
                <div class="header">
                    {{self.name}}
                </div>
                <div class="meta">
                    <i class="{{self.sex}} icon {{self.status}}"></i> {{self.displayMessage}}
                </div>
            </div>
            <div class="image">
                <img src="{{self.image}}">
            </div>
            <div class="content">
                <h5 class="ui horizontal divider">
                    Interests
                </h5>

                <div class="description">
                    <div class="ui horizontal bulleted list">
                        {{#each self.interests}}
                            <a class="item">{{.}}</a>
                        {{/each}}
                    </div>
                </div>
            </div>

            <div class="extra content">
                <div class="ui two buttons">
                    <div class="ui green button"><i class="edit icon"></i>Edit Profile</div>
                    <div class="ui red button"><i class="sign out icon"></i>Logout</div>
                </div>
            </div>
        </div>

    </div>
</template>