<template name="profileModal">
    <div id="profile-modal" class="ui modal">
        <i class="close icon"></i>
        <div class="header ui center aligned">
            Edit Profile
        </div>
        <div class="content">
            <div id="profile-form" class="ui form">
                <div class="field">
                    <label>Name</label>
                    <input type="text" name="name" value="{{self.name}}">
                </div>
                <div class="field">
                    <label>Display Message</label>
                    <input type="text" name="displayMessage" value="{{self.displayMessage}}">
                </div>
                <div class="field">
                    <label>Image URL</label>
                    <input type="text" name="image" value="{{self.image}}">
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Gender</label>
                        <select class="ui dropdown" name="gender">
                            <option value="">Gender</option>
                            <option value="male" selected="{{#if equals self.gender "male"}}true{{/if}}">Male</option>
                            <option value="female" selected="{{#if equals self.gender "female"}}true{{/if}}">Female</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Status</label>
                        <select class="ui dropdown" name="status">
                            <option value="">Status</option>
                            <option value="red" selected="{{#if equals self.status "red"}}true{{/if}}">Red</option>
                            <option value="green" selected="{{#if equals self.status "green"}}true{{/if}}">Green</option>
                            <option value="orange" selected="{{#if equals self.status "orange"}}true{{/if}}">Orange</option>
                        </select>
                    </div>
                </div>
                <div class="three fields">
                    <div class="field">
                        <label>Day of birth</label>
                        <input type="number" name="day" value="{{self.day}}">
                    </div>
                    <div class="field">
                        <label>Month of birth</label>
                        <input type="number" name="month" value="{{self.month}}">
                    </div>
                    <div class="field">
                        <label>Year of birth</label>
                        <input type="number" name="year" value="{{self.year}}">
                    </div>
                </div>
                <div class="field">
                    <label>Interests</label>
                    <select class="ui fluid search dropdown" name="interests" multiple>
                        <option value="running" selected="{{#if contains self.interests "running"}}true{{/if}}">Running</option>
                        <option value="music" selected="{{#if contains self.interests "music"}}true{{/if}}">Music</option>
                        <option value="cooking" selected="{{#if contains self.interests "cooking"}}true{{/if}}">Cooking</option>
                        <option value="sports" selected="{{#if contains self.interests "sports"}}true{{/if}}">Sports</option>
                    </select>
                </div>
                <br>
            </div>
        </div>

        <div class="actions ui centered grid">
            <div class="ui black deny button">
                Cancel
            </div>
            <div class="ui pink right labeled icon approve button">
                Submit
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</template>