<template name="rightPanel">
    <div class="right-panel">
        {{#if currentUser}}
        <div class="ui special cards">
            {{#each people}}
            <div class="ui card" style="max-width: 15em">
                <div class="extra content">
                    <div class="header">{{profile.name}}</div>
                    <div class="meta">
                        <i class="{{profile.gender}} icon {{profile.status}}"></i> {{profile.displayMessage}}
                    </div>
                </div>
                <div class="blurring dimmable image">
                    <div class="ui inverted dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui button blue btn-check" style="margin-bottom: 1em">Check compatibility
                                </div>
                                <div class="ui button pink btn-gift"><i class="gift icon"></i>Send Gift</div>
                            </div>
                        </div>
                    </div>
                    <img class="square-crop" src="{{profile.image}}">
                </div>
                <div class="extra content center aligned">
                    <span>
                        <i class="user icon"></i>
                        {{profile.views}} views
                    </span>
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}}
    </div>

    <!--Modals-->
    <div id="compare-modal" class="ui modal">
        <i class="close icon"></i>
        <div class="header ui center aligned">
            Compatibility Check
        </div>
        <div class="image content">
            <div class="ui medium circular image">
                <img src="{{compare.self.image}}" class="square-crop">
            </div>
            <div class="description" style="padding-right: 2em; width: 60%;">
                <div id="interest-progress" class="ui indicating progress">
                    <div class="bar"></div>
                    <div class="label">Interests: {{compare.interestPercent}}% match</div>
                </div>
                <div id="astrology-progress" class="ui indicating progress">
                    <div class="bar"></div>
                    <div class="label">Astrology: {{compare.astrologyPercent}}% match</div>
                </div>
                <p>{{compare.advice}}</p>
            </div>
            <div class="ui medium circular image float right">
                <img src="{{compare.other.image}}" class="square-crop">
            </div>
        </div>

        <div class="actions ui centered grid">
            <div class="ui black deny button">
                Nope
            </div>
            <div class="ui pink right labeled icon button" data-id="{{compare.other.id}}">
                I'm interested!
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>

</template>