.view {
    width: 100%;
}
.left-panel {
    width: 25em;
    position: absolute;
    left: 0;
    height: 100vh;
    background-color: darkred;
    padding: 3em 1em 1em 1rem;
}
.left-panel-top {
    position: absolute;
    width: 25em;
    height: 3em;
    left: 0;
    top: 0;
    padding-top: 10px;
    padding-left: 10px;
    background-color: whitesmoke;
}
.right-panel {
    width: 100%;
    padding: 2em 2em 2em 27em;
    height: 100vh;
    background-color: lightpink;
    overflow-y: scroll;
}
@media only screen and (max-width: 768px) {
    .left {
        width: 100%;
        position: relative;
        height: 40em;
    }
    .right {
        padding: 2em;
    }
}
.square-crop {
    object-fit: cover;
    object-position: 90%;
    height: 15em !important;
    width: 15em !important;
}
.login {
    font-weight: bold;
    color: black;
}
.login .menu > .item {
    width: 20em;
}